---
---

@import 'normalize';
@import 'skeleton';

$cinnabar: #E94B35;
$madison: #2B3D50;
$bluewood: #33485E;
$ship-cove: #7C8AA5;
$mako: #464A51;
$alto: #DAD9D9;
$summer-sky: #2BAFD9;
$green: #1AAF5C;
$brown: #BB634D;


$avacado: #8A976C;
$sage: #9AA878;

$bokara: #282828;
$le-brown: #504945;
$grullo: #A89985;
$raffia: #ECDBB5;
$colonial-white: #E1D097;
$citron: #989729;
$fuel: #D69932;
$orange: #D55D21;
$red: #CA2726;
$paradiso: #488588;

a {
  text-decoration: none;
}

body {
  background-color: $mako;
  color: $ship-cove;

}

/* http://stackoverflow.com/questions/39337638/font-display-discrepancy-safari-9-1-3 */
/* I actually want the other behavior which is the 'bolder' version of text in the code blocks */
code {
  -webkit-font-smoothing: subpixel-antialiased;
}

section.row {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

aside {
  margin-bottom: 3.2rem;
  min-width: 23rem;
  a {
    color: $madison;
  }
}

.sidebar.col-xs-3, .content.col-xs-9 {
  padding-left: 0;
  padding-right: 0;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: $paradiso;
  color: $alto;
  border-radius: 0 0 1rem 1rem;
  padding-bottom: 1.6rem;

  h1 {
    margin-bottom: 0;
    padding-left: 1.6rem;
    a {
      &:hover {
        color: $fuel;
      }
    }
  }
  p {
    padding-left: 3.2rem;
    margin-bottom: 0.5rem;
  }
}

nav {

  margin-left: 1.6rem;
  margin-right: 1.6rem;
  margin-bottom: .6rem;
  pre {
    margin-bottom: 0;
  }

  a {
    color: $citron;
    &hover {
      color: $summer-sky;
    }
  }
}

.posts {
  margin-left: 4%;
}

main.content {
  text-align: center;
}

.post {
  text-align: left;
  background-color: $bokara;
  color: $alto;
  border-radius: 1rem 1rem 1rem 1rem;
  margin: 0 auto 4rem 4%;
  padding: 1.5rem 3.3rem 0.5rem;
  display: inline-block;
  .meta {
    display: flex;
    align-items: baseline;
  }
  &:first-of-type {
    border-radius: 0 0 1rem 1rem;
  }
  .post-title a {
    color: $paradiso;
    border-width: 0px 0px 0px 0px;
    border-style: none none none none;
  }
  h4 {
    color: $paradiso;
    display: inline-block;
  }
  .post-date {
    margin-left: auto;
  }
  a {
    color: $alto;
    border-bottom: $citron;
    border-width: 0px 0px 1px 0px;
    border-style: none none dotted none;
    &:hover {
      color: $orange;
    }
  }
  .org-ul {
    margin-left: 3.2rem;
    list-style: square inside;
  }
  code {
    color: $mako;
    background-color: $alto;
    border: $sage;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

nav, .pagination {
  code {
    color: $raffia;
    background-color: $bokara;
    border: $sage;
    border-radius: 1rem;
    .paren-1 {
      color: $red;
    }
    .paren-2 {
      color: $fuel;
    }
    .kw {
      color: $orange;
    }
  }
}

.pagination {
  border-radius: 1rem 1rem 1rem 1rem;
  margin: 0 auto 4rem 4%;
  padding: 1.5rem 3.3rem 1.5rem;
  background-color: $paradiso;
  color: $alto;
  display: inline-block;
  pre {
    margin: 0;
    code {
      display: inline-block;
    }
  }
  a {
    color: $citron;
    &:hover {
      color: $summer-sky;
    }
  }
}

.tag_list {
  list-style: none;
  display: inline-block;
  a {
    color: $orange;
      border-style: none;
    &:hover {
      color: $summer-sky;
    }
  }
  li {
    &:first-of-type {
      margin-left: 0;
    }
    margin-left: 1rem;
  }
}

.post_list {
  list-style: none;
  display: inline-block;
  a {
    margin-right: 1rem;
    color: $summer-sky;
    border-style: none;
    &:hover {
      color: $orange;
    }
  }
  li {
    margin: 0;
    .date {
      margin-left: 1rem;
    }
  }
  .post_tag_list {
    list-style: none;
    display: inline-block;
    margin-left: 1rem;
    margin-top: 0;
    margin-bottom: 0;

    a {
      margin-right: 1rem;
      color: $orange;
      border-style: none;
      &:hover {
        color: $summer-sky;
      }
    }
    li {
      display: inline-block;
    }

  }
}
