/* @function convert-color($input) { */
/*   $modifier: getKelvin(); */
/*   $r: red($input) / 255 * red($modifier); */
/*   $g: green($input) / 255 * green($modifier); */
/*   $b: blue($input) / 255 * blue($modifier); */
/*   @return rgb($r,$g,$b); */
/* } */
/* @debug getKelvin(); */
/* @debug split-color($red); */
/* @debug merge-color(split-color($red)); */
/* @debug getKelvin(); */
a {
  text-decoration: none; }

body {
  background-color: #464A51; }

/* http://stackoverflow.com/questions/39337638/font-display-discrepancy-safari-9-1-3 */
/* I actually want the other behavior which is the 'bolder' version of text in the code blocks */
code {
  -webkit-font-smoothing: subpixel-antialiased; }

section.row {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px; }

aside {
  margin-bottom: 3.2rem;
  min-width: 23rem; }
  aside a {
    color: #282828; }

.sidebar.col-xs-3, .content.col-xs-9 {
  padding-left: 0;
  padding-right: 0; }

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #488588;
  color: #DAD9D9;
  border-radius: 0 0 1rem 1rem;
  padding-bottom: 1.6rem; }
  header h1 {
    margin-bottom: 0;
    padding-left: 1.6rem; }
    header h1 a:hover {
      color: #D69932; }
  header p {
    padding-left: 3.2rem;
    margin-bottom: 0.5rem; }

nav {
  margin-left: 1.6rem;
  margin-right: 1.6rem;
  margin-bottom: .6rem; }
  nav pre {
    margin-bottom: 0; }
  nav a {
    color: #989729; }
    nav ahover {
      color: #2BAFD9; }

.posts {
  margin-left: 4%; }

main.content {
  text-align: center; }

.post {
  text-align: left;
  background-color: #282828;
  color: #DAD9D9;
  border-radius: 1rem 1rem 1rem 1rem;
  margin: 0 auto 4rem 4%;
  padding: 1.5rem 3.3rem 0.5rem;
  display: inline-block; }
  .post .meta {
    display: flex;
    align-items: baseline; }
  .post:first-of-type {
    border-radius: 0 0 1rem 1rem; }
  .post .post-title a {
    color: #488588;
    border-width: 0px 0px 0px 0px;
    border-style: none none none none; }
  .post h4 {
    color: #488588;
    display: inline-block; }
  .post .post-date {
    margin-left: auto; }
  .post a {
    color: #DAD9D9;
    border-bottom: #989729;
    border-width: 0px 0px 1px 0px;
    border-style: none none dotted none; }
    .post a:hover {
      color: #D55D21; }
  .post .org-ul {
    margin-left: 3.2rem;
    list-style: square inside; }
  .post code {
    color: #464A51;
    background-color: #DAD9D9;
    border: none; }
  .post img {
    display: block;
    margin-left: auto;
    margin-right: auto; }

nav code, .pagination code {
  color: #ECDBB5;
  background-color: #282828;
  border-radius: 1rem; }
  nav code .paren-1, .pagination code .paren-1 {
    color: #CA2726; }
  nav code .paren-2, .pagination code .paren-2 {
    color: #D69932; }
  nav code .kw, .pagination code .kw {
    color: #D55D21; }

.pagination {
  border-radius: 1rem 1rem 1rem 1rem;
  margin: 0 auto 4rem 4%;
  padding: 1.5rem 3.3rem 1.5rem;
  background-color: #488588;
  color: #DAD9D9;
  display: inline-block; }
  .pagination pre {
    margin: 0; }
    .pagination pre code {
      display: inline-block; }
  .pagination a {
    color: #989729; }
    .pagination a:hover {
      color: #2BAFD9; }

.tag_list {
  list-style: none;
  display: inline-block; }
  .tag_list a {
    color: #D55D21;
    border-style: none; }
    .tag_list a:hover {
      color: #2BAFD9; }
  .tag_list li {
    margin-left: 1rem; }
    .tag_list li:first-of-type {
      margin-left: 0; }

.post_list {
  list-style: none;
  display: inline-block; }
  .post_list a {
    margin-right: 1rem;
    color: #2BAFD9;
    border-style: none; }
    .post_list a:hover {
      color: #D55D21; }
  .post_list li {
    margin: 0; }
    .post_list li .date {
      margin-left: 1rem; }
  .post_list .post_tag_list {
    list-style: none;
    display: inline-block;
    margin-left: 1rem;
    margin-top: 0;
    margin-bottom: 0; }
    .post_list .post_tag_list a {
      margin-right: 1rem;
      color: #D55D21;
      border-style: none; }
      .post_list .post_tag_list a:hover {
        color: #2BAFD9; }
    .post_list .post_tag_list li {
      display: inline-block; }
